{% extends 'home/base.html' %}
{% block title %}
Principal Message
{% endblock title %}
{% block body %}
<div class="container my-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14674.426841524502!2d75.1926623!3d23.1480466!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa5291aaac9ba402d!2sShri%20Maruti%20Academy%2C%20Satrunda!5e0!3m2!1sen!2sin!4v1628091285803!5m2!1sen!2sin"
                width="340px" height="350px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-6">
            <p>
                Maruti Academy
                Near Satrunda, Mhow-Neemuch Road,
                Ratlam (M.P.)

            <p> Contact Numbers
                Mobile No.- 94251 95195 | 94259 35865</p>

            <p>Email:- academymaruti@yahoo.com
                Web :- www.marutiacademy.com</p>

            <p>Office Hours
                Principal : 11 a.m. to 2 p.m.
                Payment office : 10 a.m. to 3 p.m.
                Gen Administration office : Throughout School Hours
                Open Day : Last week of every month
                Parent Teacher Meet : After every Test
            </p>
        </div>
    </div>
</div>
{% endblock body %}