{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Glimpses
{% endblock title %}
{% block body %}
<div class="container-fluid">
<h2 class="text-center my-2 text-primary st-font"> Lucky Draw </h2>
    <div class="row text-center">
    {% for i in luckydraw_image %}
        <div class="col-md-4 my-2">
            <img src="{{i.image.url}}" width="100%" height="250px">
        </div>
    {% endfor %}
    </div>
</div>
<div class="container-fluid">
<h2 class="text-center my-2 text-success st-font"> Pariksha Par Charcha 2020 </h2>
    <div class="row text-center">
    {% for i in pariksha_image %}
        <div class="col-md-4 my-2">
            <img src="{{i.image.url}}" width="100%" height="250px">
        </div>
    {% endfor %}
    </div>
</div>
<div class="container-fluid">
<h2 class="text-center my-2 text-primary st-font"> Yoga Day </h2>
    <div class="row text-center">
    {% for i in yogaday_image %}
        <div class="col-md-4 my-2">
            <img src="{{i.image.url}}" width="100%" height="250px">
        </div>
    {% endfor %}
    </div>
</div>
{% endblock body %}